# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
.venv/
venv/
env/

# Environment variables
.env

# SQLite database
*.db

# IDE
.vscode/
.idea/

# OS
.DS_Store

# Node/Deno
node_modules/
deno.lock
frontend/public/app.js
backend/node_modules/
